@import 'fonts';

html,
body {
  font-family: 'Silk Serif';
  padding: 0;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

canvas {
  height: 100%;
  width: 100%;
}

#pixiContainer {
  line-height: 0;
}
